{{#if items}}
    <div class="list-group">
    {{#each items}}
        {{#link-to 'collection' encDefQuery (query-params pageNum=1) class="list-group-item"}}{{name}}{{/link-to}}
    {{/each}}
    </div>
{{/if}}