{{#if items}}
    <div class="list-group">
    {{#each showItems}}
        {{#link-to 'collection' linkToParam (query-params pageNum=1) class="list-group-item" active=active}}{{name}}{{/link-to}}
    {{/each}}
    </div>
{{/if}}