<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {{select-drop-down tagName="li" defaultName="Select connection" items=connections selectedId=pastureId}}
                {{#if secondDropDownItems}}
                    {{select-drop-down tagName="li" defaultName="Select database" items=secondDropDownItems selectedId=secondDropDownId}}
                {{/if}}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>{{#link-to 'collection' 'system%23pastures' (query-params pageNum=1)}}Edit connections{{/link-to}}</li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</div>
<div class="container-fluid" style="margin-top: 55px;">
    <div class="row">
        <div class="col-md-1 left-menu-col">
            {{left-menu items=leftMenuItems curPath=curCollPath}}
        </div>
        <div class="col-md-11">{{outlet}}</div>
    </div>
</div>
