<form class="form-horizontal" role="form">
{{#each showFields}}
    <div class="form-group">
        <label {{bind-attr for=domId}} class="col-sm-2 control-label">{{name}}</label>
        {{view viewClass value=value}}
    </div>
{{/each}}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</form>
