{{pagination-links curPageNum=pageNum pageSize=pageSize allCount=model.allCount}}
<table class="list">
<thead>
    <tr>
        <th>&nbsp;</th>
        {{#each col in model.headers}}
            <th>{{col}}</th>
        {{/each}}
    </tr>
</thead>
<tbody>
{{#each row in acont}}
    <tr>
        {{#if row.pk}}
        <td>
            {{#link-to 'collection.edit' (query-params pk=row.pk)}}<span class="glyphicon glyphicon-edit"></span>{{/link-to}}
            <span class="glyphicon glyphicon-remove pointer" {{action 'removeRow' row.pk}}></span>
        </td>
        {{/if}}
        {{#each col in row}}
            <td>{{showValue col}}</td>
        {{/each}}
    </tr>
{{/each}}
</tbody>
</table>
{{#link-to 'collection.edit' (query-params pk=false)}}add new{{/link-to}}
